
<div  [classList]="true ?'box animate__animated animate__fadeIn':'box'"  class="box">
  <section class="hero-section d-flex justify-content-center align-items-center ">
    <div class="container text-center">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-8">
          <h1 class="display-4 text-white">Welcome to Game Universe</h1>
          <p class="lead text-white mb-4">Discover the most thrilling games of all time.</p>
          <a [routerLink]="'/view/game'" class="btn btn-primary btn-lg">Explore Games</a>
        </div>
      </div>
    </div>
  </section>

</div>
